# Python bytecode
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
env/

# Jupyter notebooks
.ipynb_checkpoints/

# Logs and system
*.log
.DS_Store
*.pid

# Python packaging
*.egg-info/
*.egg

# Flask environment
.env

# Model files
*.joblib

# VS Code
.vscode/

# === Expo / React Native / Node frontend ===

# Node modules
node_modules/

# Expo cache
.expo/
.expo-shared/

# Metro bundler cache
.cache/
babel.config.js

# iOS/Android native builds (if ejected)
android/
ios/
